In [117]:
import fredapi as fa
import pandas as pd
from datetime import datetime as dt
fred = fa.Fred('3258cc777cc97a53229e08f54d9846c1')

In [127]:
#All-Transactions House Price Index for Florida
House_f = fred.get_series('ATNHPIUS36740Q')
House_f.name = 'House Price Index Central Florida' 
House_f

1978-04-01     43.23
1978-07-01     46.39
1978-10-01     47.72
1979-01-01     51.71
1979-04-01     52.72
               ...
2021-10-01    349.37
2022-01-01    369.42
2022-04-01    396.98
2022-07-01    416.23
2022-10-01    418.42
Name: House Price Index Central Florida, Length: 179, dtype: float64

In [128]:
#Mean Adjusted Gross Income for Florida
Gross_income = fred.get_series('MEANAGIFL12A052NCEN')
Gross_income.name = 'Mean Household Income'
Gross_income

1989-01-01    29823.0
1990-01-01    30194.0
1991-01-01    30022.0
1992-01-01    31514.0
1993-01-01    31918.0
1994-01-01    32899.0
1995-01-01    34668.0
1996-01-01    36990.0
1997-01-01    39232.0
1998-01-01    42456.0
1999-01-01    47530.0
2000-01-01    50605.0
2001-01-01    48192.0
2002-01-01    47560.0
2003-01-01    48387.0
2004-01-01    53972.0
2005-01-01    60471.0
2006-01-01    63065.0
2007-01-01    58017.0
2008-01-01    55856.0
2009-01-01    51093.0
2010-01-01    50946.0
2011-01-01    52715.0
2012-01-01    60476.0
2013-01-01    58783.0
2014-01-01    63897.0
2015-01-01    66569.0
2016-01-01    64872.0
2017-01-01    71072.0
2018-01-01    76923.0
2019-01-01    73849.0
2020-01-01    77677.0
Name: Mean Household Income, dtype: float64

In [129]:
Mortgage  = fred.get_series('MORTGAGE30US')
Mortgage.name = '30-Year Fixed Rate Mortgage Average'
df1 = pd.DataFrame(Mortgage)
df1 = df1.reset_index() 
df1['index'] = df1['index'].dt.year
df1

      index  30-Year Fixed Rate Mortgage Average
0      1971                                 7.33
1      1971                                 7.31
2      1971                                 7.31
3      1971                                 7.31
4      1971                                 7.29
...     ...                                  ...
2712   2023                                 6.42
2713   2023                                 6.32
2714   2023                                 6.28
2715   2023                                 6.27
2716   2023                                 6.39

[2717 rows x 2 columns]

In [130]:
#merge both series into one dataframe
df = pd.merge(House_f, Gross_income, left_index=True, right_index=True)
df = df.reset_index()     
df['index'] = df['index'].dt.year
df

    index  House Price Index Central Florida  Mean Household Income
0    1989                              92.11                29823.0
1    1990                              95.37                30194.0
2    1991                              97.28                30022.0
3    1992                              99.80                31514.0
4    1993                             100.72                31918.0
5    1994                             102.11                32899.0
6    1995                             100.00                34668.0
7    1996                             104.84                36990.0
8    1997                             106.15                39232.0
9    1998                             110.82                42456.0
10   1999                             114.92                47530.0
11   2000                             121.39                50605.0
12   2001                             131.61                48192.0
13   2002                             140.75                47560.0
14   2003                             151.78                48387.0
15   2004                             166.08                53972.0
16   2005                             199.43                60471.0
17   2006                             264.03                63065.0
18   2007                             280.55                58017.0
19   2008                             253.48                55856.0
20   2009                             208.10                51093.0
21   2010                             169.78                50946.0
22   2011                             155.48                52715.0
23   2012                             145.15                60476.0
24   2013                             152.94                58783.0
25   2014                             174.10                63897.0
26   2015                             186.78                66569.0
27   2016                             202.96                64872.0
28   2017                             223.25                71072.0
29   2018                             243.92                76923.0
30   2019                             261.15                73849.0
31   2020                             276.44                77677.0

In [131]:
df = pd.merge(df, df1, on='index')
df

,index,House Price Index Central Florida,Mean Household Income,30-Year Fixed Rate Mortgage Average
0,1989,92.11,29823.0,10.80
1,1989,92.11,29823.0,10.81
2,1989,92.11,29823.0,10.71
3,1989,92.11,29823.0,10.60
4,1989,92.11,29823.0,10.55
...,...,...,...,...
1665,2020,276.44,77677.0,2.71
1666,2020,276.44,77677.0,2.71
1667,2020,276.44,77677.0,2.67
1668,2020,276.44,77677.0,2.66
1669,2020,276.44,77677.0,2.67

In [132]:
House_index  = fred.get_series('FLSTHPI')
House_index.name = 'House Price Index for Florida'
df2 = pd.DataFrame(House_index)
df2 = df2.reset_index() 
df2['index'] = df2['index'].dt.year
df2

     index  House Price Index for Florida
0     1975                          65.94
1     1975                          83.43
2     1975                          66.80
3     1975                          68.21
4     1976                          67.93
..     ...                            ...
187   2021                         642.29
188   2022                         678.17
189   2022                         735.83
190   2022                         767.66
191   2022                         768.11

[192 rows x 2 columns]

In [133]:
df = pd.merge(df, df2, on='index')
df

,index,House Price Index Central Florida,Mean Household Income,30-Year Fixed Rate Mortgage Average,House Price Index for Florida
0,1989,92.11,29823.0,10.80,147.68
1,1989,92.11,29823.0,10.80,148.63
2,1989,92.11,29823.0,10.80,151.11
3,1989,92.11,29823.0,10.80,152.25
4,1989,92.11,29823.0,10.81,147.68
...,...,...,...,...,...
6675,2020,276.44,77677.0,2.66,514.49
6676,2020,276.44,77677.0,2.67,486.44
6677,2020,276.44,77677.0,2.67,492.62
6678,2020,276.44,77677.0,2.67,501.05
6679,2020,276.44,77677.0,2.67,514.49

In [134]:
Unemployment   = fred.get_series('FLUR')
Unemployment .name = ' Unemployment Rate in Florida'
df3 = pd.DataFrame(Unemployment)
df3 = df3.reset_index() 
df3['index'] = df3['index'].dt.year
df3

     index   Unemployment Rate in Florida
0     1976                            9.7
1     1976                            9.7
2     1976                            9.6
3     1976                            9.5
4     1976                            9.3
..     ...                            ...
561   2022                            2.7
562   2022                            2.7
563   2022                            2.7
564   2023                            2.6
565   2023                            2.6

[566 rows x 2 columns]

In [135]:
df = pd.merge(df, df3, on='index')
df

,index,House Price Index Central Florida,Mean Household Income,30-Year Fixed Rate Mortgage Average,House Price Index for Florida,Unemployment Rate in Florida
0,1989,92.11,29823.0,10.80,147.68,5.4
1,1989,92.11,29823.0,10.80,147.68,5.4
2,1989,92.11,29823.0,10.80,147.68,5.5
3,1989,92.11,29823.0,10.80,147.68,5.5
4,1989,92.11,29823.0,10.80,147.68,5.6
...,...,...,...,...,...,...
80155,2020,276.44,77677.0,2.67,514.49,8.9
80156,2020,276.44,77677.0,2.67,514.49,8.1
80157,2020,276.44,77677.0,2.67,514.49,7.1
80158,2020,276.44,77677.0,2.67,514.49,6.6
80159,2020,276.44,77677.0,2.67,514.49,6.4

In [136]:
permits  = fred.get_series('FLBP1FHSA')
permits.name = 'Private Housing Building Permits'
df4 = pd.DataFrame(permits)
df4 = df4.reset_index() 
df4['index'] = df4['index'].dt.year
df4

     index  Private Housing Building Permits
0     1988                       8144.912209
1     1988                       9020.159768
2     1988                       9360.530331
3     1988                       9060.852465
4     1988                       8737.389131
..     ...                               ...
418   2022                       8978.843294
419   2022                       8844.609232
420   2023                       8587.248822
421   2023                       8980.124951
422   2023                       9835.300285

[423 rows x 2 columns]

In [137]:
df = pd.merge(df, df4, on='index')
df

,index,House Price Index Central Florida,Mean Household Income,30-Year Fixed Rate Mortgage Average,House Price Index for Florida,Unemployment Rate in Florida,Private Housing Building Permits
0,1989,92.11,29823.0,10.80,147.68,5.4,10066.341273
1,1989,92.11,29823.0,10.80,147.68,5.4,9333.018487
2,1989,92.11,29823.0,10.80,147.68,5.4,9328.815813
3,1989,92.11,29823.0,10.80,147.68,5.4,8818.505557
4,1989,92.11,29823.0,10.80,147.68,5.4,9224.511649
...,...,...,...,...,...,...,...
961915,2020,276.44,77677.0,2.67,514.49,6.4,9527.088953
961916,2020,276.44,77677.0,2.67,514.49,6.4,10998.353407
961917,2020,276.44,77677.0,2.67,514.49,6.4,11246.579309
961918,2020,276.44,77677.0,2.67,514.49,6.4,11090.745057
961919,2020,276.44,77677.0,2.67,514.49,6.4,12707.368856

In [139]:
df.drop_duplicates(subset=['index'])

,index,House Price Index Central Florida,Mean Household Income,30-Year Fixed Rate Mortgage Average,House Price Index for Florida,Unemployment Rate in Florida,Private Housing Building Permits
0,1989,92.11,29823.0,10.80,147.68,5.4,10066.341273
29952,1990,95.37,30194.0,9.83,152.98,5.8,8492.567732
59904,1991,97.28,30022.0,9.56,154.55,7.0,5501.947958
89856,1992,99.80,31514.0,8.24,159.31,8.3,6664.301754
120384,1993,100.72,31918.0,8.07,160.87,7.9,7004.271142
150336,1994,102.11,32899.0,7.23,165.29,7.0,8566.997810
180288,1995,100.00,34668.0,9.22,164.98,5.7,7140.146077
210240,1996,104.84,36990.0,7.02,173.55,5.5,7341.151015
240192,1997,106.15,39232.0,7.67,175.94,5.2,7844.246092
270144,1998,110.82,42456.0,7.03,184.80,4.7,7468.316348
300672,1999,114.92,47530.0,6.79,190.81,4.1,8249.512862
330624,2000,121.39,50605.0,8.15,200.84,3.7,8308.242604
360576,2001,131.61,48192.0,7.07,219.24,3.9,9367.964050
390528,2002,140.75,47560.0,7.14,240.14,5.2,11342.882832
420480,2003,151.78,48387.0,5.85,265.77,4.7,11418.096364
451008,2004,166.08,53972.0,5.87,300.55,4.0,13108.389063
480960,2005,199.43,60471.0,5.77,368.36,3.4,16111.190432
510912,2006,264.03,63065.0,6.21,463.20,2.4,17600.547756
540864,2007,280.55,58017.0,6.18,476.78,2.7,7618.045357
570816,2008,253.48,55856.0,6.07,424.62,4.2,4640.289364
601344,2009,208.10,51093.0,5.01,350.41,7.8,1878.975598
631296,2010,169.78,50946.0,5.09,299.68,10.9,3037.531637
661248,2011,155.48,52715.0,4.77,275.66,10.6,2288.710977
691200,2012,145.15,60476.0,3.91,267.09,9.2,2902.371874
721152,2013,152.94,58783.0,3.34,279.03,8.0,4449.551814
751104,2014,174.10,63897.0,4.53,307.56,6.9,4726.796495
781632,2015,186.78,66569.0,3.73,335.95,5.9,4791.501411
811584,2016,202.96,64872.0,3.97,366.34,5.1,5751.324578
841536,2017,223.25,71072.0,4.20,399.59,4.7,6450.099664
871488,2018,243.92,76923.0,3.95,433.22,3.9,7624.765084
901440,2019,261.15,73849.0,4.51,459.41,3.5,7987.292943
931392,2020,276.44,77677.0,3.72,486.44,3.0,9482.370111