In [1]:
import pandas as pd

mer_census = pd.read_csv('merged_census_data.csv')
mer_census

,Label (Grouping),Florida!!Total!!Estimate,Florida!!Total!!Margin of Error,Florida!!Moved; within same county!!Estimate,Florida!!Moved; within same county!!Margin of Error,"Florida!!Moved; from different county, same state!!Estimate","Florida!!Moved; from different county, same state!!Margin of Error",Florida!!Moved; from different state!!Estimate,Florida!!Moved; from different state!!Margin of Error,Florida!!Moved; from abroad!!Estimate,...,Florida!!Total!!Estimate.10,Florida!!Total!!Margin of Error.10,Florida!!Moved; within same county!!Estimate.10,Florida!!Moved; within same county!!Margin of Error.10,"Florida!!Moved; from different county, same state!!Estimate.10","Florida!!Moved; from different county, same state!!Margin of Error.10",Florida!!Moved; from different state!!Estimate.10,Florida!!Moved; from different state!!Margin of Error.10,Florida!!Moved; from abroad!!Estimate.10,Florida!!Moved; from abroad!!Margin of Error.10
0,Population 1 year and over,"21,590,684","±8,058",7.10%,±0.2,3.10%,±0.1,3.10%,±0.1,0.60%,...,"18,647,600","±7,733",10.30%,±0.2,2.90%,±0.1,2.60%,±0.1,0.80%,±0.1
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1 to 4 years,"901,510","±8,772",10.30%,±1.0,3.80%,±0.4,3.20%,±0.5,0.90%,...,"872,260","±7,986",16.10%,±0.9,3.20%,±0.4,2.90%,±0.3,0.50%,±0.1
3,5 to 17 years,"3,195,869","±4,131",7.60%,±0.5,2.60%,±0.2,2.60%,±0.3,0.60%,...,"2,931,533","±5,076",11.40%,±0.5,2.30%,±0.2,2.10%,±0.2,0.80%,±0.1
4,18 to 24 years,"1,731,183","±7,357",10.50%,±0.6,7.80%,±0.5,4.80%,±0.4,0.90%,...,"1,766,628","±7,478",16.60%,±0.6,7.40%,±0.5,4.00%,±0.4,1.30%,±0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,Population 1 year and over in housing units,"21,178,225","±8,058",6.90%,±0.2,2.80%,±0.1,3.00%,±0.1,0.60%,...,"18,225,891","±7,733",10.10%,±0.2,2.50%,±0.1,2.50%,±0.1,0.80%,±0.1
62,Householder lived in owner-occupied ho...,"14,483,276","±75,641",4.50%,±0.2,2.00%,±0.1,2.40%,±0.1,0.40%,...,"12,421,033","±60,338",3.80%,±0.1,1.30%,±0.1,1.50%,±0.1,0.50%,±0.1
63,Householder lived in renter-occupied h...,"6,694,949","±74,894",12.20%,±0.4,4.40%,±0.2,4.40%,±0.3,1.10%,...,"5,804,858","±59,928",23.40%,±0.6,5.20%,±0.3,4.50%,±0.3,1.40%,±0.2
64,PERCENT ALLOCATED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Residence 1 year ago,11.90%,(X),(X),(X),(X),(X),(X),(X),(X),...,5.00%,(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [2]:
#Renaming the columns
mer_census_renamed = mer_census.rename(columns = {'Label (Grouping)':'Category',
                                          'Florida!!Total!!Estimate.10': '2010 TTL Estimate','Florida!!Moved; within same county!!Estimate.10':'2010 MF same county','Florida!!Moved; from different county, same state!!Estimate.10':'2010 MF diff county','Florida!!Moved; from different  state!!Estimate.10':'2010 MF diff state','Florida!!Moved; from abroad!!Estimate.10':'2010 MF abroad',
                                          'Florida!!Total!!Estimate.9': '2011 TTL Estimate','Florida!!Moved; within same county!!Estimate.9':'2011 MF same county','Florida!!Moved; from different county, same state!!Estimate.9':'2011 MF diff county','Florida!!Moved; from different  state!!Estimate.9':'2011 MF diff state','Florida!!Moved; from abroad!!Estimate.9':'2011 MF abroad', 
                                          'Florida!!Total!!Estimate.8': '2012 TTL Estimate','Florida!!Moved; within same county!!Estimate.8':'2012 MF same county','Florida!!Moved; from different county, same state!!Estimate.8':'2012 MF diff county','Florida!!Moved; from different  state!!Estimate.8':'2012 MF diff state','Florida!!Moved; from abroad!!Estimate.8':'2012 MF abroad', 
                                          'Florida!!Total!!Estimate.7': '2013 TTL Estimate','Florida!!Moved; within same county!!Estimate.7':'2013 MF same county','Florida!!Moved; from different county, same state!!Estimate.7':'2013 MF diff county','Florida!!Moved; from different  state!!Estimate.7':'2013 MF diff state','Florida!!Moved; from abroad!!Estimate.7':'2013 MF abroad', 
                                          'Florida!!Total!!Estimate.6': '2014 TTL Estimate','Florida!!Moved; within same county!!Estimate.6':'2014 MF same county','Florida!!Moved; from different county, same state!!Estimate.6':'2014 MF diff county','Florida!!Moved; from different  state!!Estimate.6':'2014 MF diff state','Florida!!Moved; from abroad!!Estimate.6':'2014 MF abroad',
                                          'Florida!!Total!!Estimate.5': '2015 TTL Estimate','Florida!!Moved; within same county!!Estimate.5':'2015 MF same county','Florida!!Moved; from different county, same state!!Estimate.5':'2015 MF diff county','Florida!!Moved; from different  state!!Estimate.5':'2015 MF diff state','Florida!!Moved; from abroad!!Estimate.5':'2015 MF abroad', 
                                          'Florida!!Total!!Estimate.4': '2016 TTL Estimate','Florida!!Moved; within same county!!Estimate.4':'2016 MF same county','Florida!!Moved; from different county, same state!!Estimate.4':'2016 MF diff county','Florida!!Moved; from different  state!!Estimate.4':'2016 MF diff state','Florida!!Moved; from abroad!!Estimate.4':'2016 MF abroad', 
                                          'Florida!!Total!!Estimate.3': '2017 TTL Estimate','Florida!!Moved; within same county!!Estimate.3':'2017 MF same county','Florida!!Moved; from different county, same state!!Estimate.3':'2017 MF diff county','Florida!!Moved; from different  state!!Estimate.3':'2017 MF diff state','Florida!!Moved; from abroad!!Estimate.3':'2017 MF abroad', 
                                          'Florida!!Total!!Estimate.2': '2018 TTL Estimate','Florida!!Moved; within same county!!Estimate.2':'2018 MF same county','Florida!!Moved; from different county, same state!!Estimate.2':'2018 MF diff county','Florida!!Moved; from different  state!!Estimate.2':'2018 MF diff state','Florida!!Moved; from abroad!!Estimate.2':'2018 MF abroad', 
                                          'Florida!!Total!!Estimate.1': '2019 TTL Estimate','Florida!!Moved; within same county!!Estimate.1':'2019 MF same county','Florida!!Moved; from different county, same state!!Estimate.1':'2019 MF diff county','Florida!!Moved; from different  state!!Estimate.1':'2019 MF diff state','Florida!!Moved; from abroad!!Estimate.1':'2019 MF abroad', 
                                          'Florida!!Total!!Estimate': '2021 TTL Estimate','Florida!!Moved; within same county!!Estimate':'2021 MF same county','Florida!!Moved; from different county, same state!!Estimate':'2021 MF diff county','Florida!!Moved; from different  state!!Estimate':'2021 MF diff state','Florida!!Moved; from abroad!!Estimate':'2021 MF abroad' 
                                          })



#Arraging the column in desired order
column_clean = mer_census_renamed[['Category',
                                   '2010 TTL Estimate','2011 TTL Estimate','2012 TTL Estimate','2013 TTL Estimate','2014 TTL Estimate','2015 TTL Estimate','2016 TTL Estimate','2017 TTL Estimate','2018 TTL Estimate','2019 TTL Estimate','2021 TTL Estimate',
                                   '2010 MF same county','2011 MF same county','2012 MF same county','2013 MF same county','2014 MF same county','2015 MF same county','2016 MF same county','2017 MF same county','2018 MF same county','2019 MF same county','2021 MF same county',
                                   '2010 MF diff county','2011 MF diff county','2012 MF diff county','2013 MF diff county','2014 MF diff county','2015 MF diff county','2016 MF diff county','2017 MF diff county','2018 MF diff county','2019 MF diff county','2021 MF diff county',
                                   '2010 MF diff state','2011 MF diff state','2012 MF diff state','2013 MF diff state','2014 MF diff state','2015 MF diff state','2016 MF diff state','2017 MF diff state','2018 MF diff state','2019 MF diff state','2021 MF diff state',
                                   '2010 MF abroad','2011 MF abroad','2012 MF abroad','2013 MF abroad','2014 MF abroad','2015 MF abroad','2016 MF abroad','2017 MF abroad','2018 MF abroad','2019 MF abroad','2021 MF abroad'
                                  ]]

#column_clean


#Selecting the needed rows
clean_data = column_clean.iloc[[0,11,54,62,63]]
clean_data

,Category,2010 TTL Estimate,2011 TTL Estimate,2012 TTL Estimate,2013 TTL Estimate,2014 TTL Estimate,2015 TTL Estimate,2016 TTL Estimate,2017 TTL Estimate,2018 TTL Estimate,...,2011 MF abroad,2012 MF abroad,2013 MF abroad,2014 MF abroad,2015 MF abroad,2016 MF abroad,2017 MF abroad,2018 MF abroad,2019 MF abroad,2021 MF abroad
0,Population 1 year and over,"18,647,600","18,863,948","19,114,620","19,345,059","19,683,763","20,068,392","20,401,575","20,772,371","21,092,877",...,0.90%,0.90%,0.90%,1.00%,1.10%,1.10%,1.20%,1.10%,1.00%,0.60%
11,Median age (years),41.1,41.4,41.6,41.9,42.1,42.2,42.5,42.5,42.6,...,33.4,35.7,35.2,35,33.7,35.7,34.1,33.8,34.4,35.5
54,Median income (dollars),"22,729","23,173","23,387","23,749","24,405","25,364","25,805","26,667","27,544",...,"16,340","16,245","15,661","16,353","16,056","15,222","17,005","16,830","17,488","21,365"
62,Householder lived in owner-occupied ho...,"12,421,033","12,291,643","12,218,453","12,166,097","12,234,061","12,434,521","12,721,641","13,200,134","13,611,613",...,0.60%,0.50%,0.60%,0.60%,0.70%,0.60%,0.70%,0.60%,0.60%,0.40%
63,Householder lived in renter-occupied h...,"5,804,858","6,150,713","6,471,037","6,753,082","7,018,239","7,203,439","7,246,542","7,144,653","7,051,132",...,1.50%,1.50%,1.40%,1.60%,1.70%,2.00%,2.20%,1.90%,1.70%,1.10%

In [3]:
fl_population = clean_data.iloc[:, 0:12]
fl_population.set_index('Category', inplace=True)
fl_population

,2010 TTL Estimate,2011 TTL Estimate,2012 TTL Estimate,2013 TTL Estimate,2014 TTL Estimate,2015 TTL Estimate,2016 TTL Estimate,2017 TTL Estimate,2018 TTL Estimate,2019 TTL Estimate,2021 TTL Estimate
Category,,,,,,,,,,,
Population 1 year and over,"18,647,600","18,863,948","19,114,620","19,345,059","19,683,763","20,068,392","20,401,575","20,772,371","21,092,877","21,269,409","21,590,684"
Median age (years),41.1,41.4,41.6,41.9,42.1,42.2,42.5,42.5,42.6,42.8,43.1
Median income (dollars),"22,729","23,173","23,387","23,749","24,405","25,364","25,805","26,667","27,544","29,758","31,879"
Householder lived in owner-occupied housing units,"12,421,033","12,291,643","12,218,453","12,166,097","12,234,061","12,434,521","12,721,641","13,200,134","13,611,613","13,854,415","14,483,276"
Householder lived in renter-occupied housing units,"5,804,858","6,150,713","6,471,037","6,753,082","7,018,239","7,203,439","7,246,542","7,144,653","7,051,132","6,985,285","6,694,949"

In [4]:
migration_from_different_state = clean_data.iloc[:, [0] + list(range(34, 45))]
migration_from_different_state.set_index('Category', inplace=True)
migration_from_different_state

,2010 MF diff state,2011 MF diff state,2012 MF diff state,2013 MF diff state,2014 MF diff state,2015 MF diff state,2016 MF diff state,2017 MF diff state,2018 MF diff state,2019 MF diff state,2021 MF diff state
Category,,,,,,,,,,,
Population 1 year and over,2.60%,2.60%,2.80%,2.70%,2.80%,2.90%,3.00%,2.70%,2.80%,2.80%,3.10%
Median age (years),35.1,34.4,35.1,35.2,36.2,37.5,37.2,37.9,37.3,37.5,36.7
Median income (dollars),"20,464","21,568","21,538","21,463","23,888","25,848","25,834","26,834","27,997","30,439","34,821"
Householder lived in owner-occupied housing units,1.50%,1.50%,1.60%,1.70%,1.80%,2.10%,2.20%,2.00%,2.10%,2.20%,2.40%
Householder lived in renter-occupied housing units,4.50%,4.50%,4.70%,4.20%,4.20%,4.10%,4.10%,3.80%,3.90%,3.90%,4.40%

In [5]:
migration_from_abroad = clean_data.iloc[:, [0] + list(range(45, 56))]
migration_from_abroad.set_index('Category', inplace=True)
migration_from_abroad

,2010 MF abroad,2011 MF abroad,2012 MF abroad,2013 MF abroad,2014 MF abroad,2015 MF abroad,2016 MF abroad,2017 MF abroad,2018 MF abroad,2019 MF abroad,2021 MF abroad
Category,,,,,,,,,,,
Population 1 year and over,0.80%,0.90%,0.90%,0.90%,1.00%,1.10%,1.10%,1.20%,1.10%,1.00%,0.60%
Median age (years),33.2,33.4,35.7,35.2,35,33.7,35.7,34.1,33.8,34.4,35.5
Median income (dollars),"15,037","16,340","16,245","15,661","16,353","16,056","15,222","17,005","16,830","17,488","21,365"
Householder lived in owner-occupied housing units,0.50%,0.60%,0.50%,0.60%,0.60%,0.70%,0.60%,0.70%,0.60%,0.60%,0.40%
Householder lived in renter-occupied housing units,1.40%,1.50%,1.50%,1.40%,1.60%,1.70%,2.00%,2.20%,1.90%,1.70%,1.10%

In [6]:
# Flip the columns and rows of the DataFrame
flipped = migration_from_different_state.transpose()

# Print the flipped DataFrame
print(flipped)

Category           Population 1 year and over         Median age (years)  \
2010 MF diff state                      2.60%                       35.1
2011 MF diff state                      2.60%                       34.4
2012 MF diff state                      2.80%                       35.1
2013 MF diff state                      2.70%                       35.2
2014 MF diff state                      2.80%                       36.2
2015 MF diff state                      2.90%                       37.5
2016 MF diff state                      3.00%                       37.2
2017 MF diff state                      2.70%                       37.9
2018 MF diff state                      2.80%                       37.3
2019 MF diff state                      2.80%                       37.5
2021 MF diff state                      3.10%                       36.7

Category                   Median income (dollars)  \
2010 MF diff state                          20,464
2011 MF diff state                          21,568
2012 MF diff state                          21,538
2013 MF diff state                          21,463
2014 MF diff state                          23,888
2015 MF diff state                          25,848
2016 MF diff state                          25,834
2017 MF diff state                          26,834
2018 MF diff state                          27,997
2019 MF diff state                          30,439
2021 MF diff state                          34,821

Category                   Householder lived in owner-occupied housing units  \
2010 MF diff state                                              1.50%
2011 MF diff state                                              1.50%
2012 MF diff state                                              1.60%
2013 MF diff state                                              1.70%
2014 MF diff state                                              1.80%
2015 MF diff state                                              2.10%
2016 MF diff state                                              2.20%
2017 MF diff state                                              2.00%
2018 MF diff state                                              2.10%
2019 MF diff state                                              2.20%
2021 MF diff state                                              2.40%

Category                   Householder lived in renter-occupied housing units
2010 MF diff state                                              4.50%
2011 MF diff state                                              4.50%
2012 MF diff state                                              4.70%
2013 MF diff state                                              4.20%
2014 MF diff state                                              4.20%
2015 MF diff state                                              4.10%
2016 MF diff state                                              4.10%
2017 MF diff state                                              3.80%
2018 MF diff state                                              3.90%
2019 MF diff state                                              3.90%
2021 MF diff state                                              4.40%