In [14]:
import pandas as pd
from pathlib import Path
import os
import matplotlib.pyplot as plt

In [15]:
cwd = os.getcwd()

# Construct the full file path
file_path = os.path.join(cwd, "USSTHPI.csv")
file_path_2 = os.path.join(cwd, "FLSTHPI.csv")
# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(file_path)
df_fl = pd.read_csv(file_path_2)
# Display the first 5 rows of the DataFrame
print(df.head())
print(df_fl.head())

# create a concatenated df
combined_df = pd.concat([df, df_fl['FLSTHPI']], axis=1)
combined_df

In [16]:
# filter the dataframe to 2004-2012
combined = combined_df.iloc[116:152, :]
combined

In [17]:
# Select rows 118 to 153 
df_subset = df.iloc[116:152, :]
df_subset_fl = df_fl.iloc[116:152, :]
# Display the first 5 rows of the new DataFrame
print("US Stats\n")
print(df_subset)
print("\n Florida Stats\n")
print(df_subset_fl)

In [18]:
# Rename columns
df_subset = df_subset.rename(columns={'USSTHPI': 'Average Price'})
df_subset_fl = df_subset.rename(columns={'FLSTHPI': 'Average Price'})
combined = combined.rename(columns={'USSTHPI': 'Average Price (US)', 'FLSTHPI': 'Average Price (FL)'})
# Display the first 5 rows of the new DataFrame
print(df_subset.head())
print("\n")
print(df_subset_fl.head())
print("\n")
print(combined.head())

In [19]:
# Create a line plot
combined.plot(x='DATE', y='Average Price (US)')

# Set the axis and title
plt.title('National Average Listings')
plt.ylabel('Average House Price (Hundred Thousands)')
plt.xlabel('Date')
plt.xticks(rotation=75)
# save plot
plt.savefig('2004-2012_line_national.png')
# Show the plot
plt.show()

In [20]:
# Create a line plot
combined.plot(x='DATE', y='Average Price (FL)', color = 'orange')

# labels
plt.title('Florida Average Listings')
plt.ylabel('Average House Price (Hundred Thousands)')
plt.xlabel('Date')
plt.xticks(rotation=75)
# save plot
plt.savefig('2004-2012_line_fl.png')
# Show the plot
plt.show()

In [21]:
# Line graph national + florida
combined.plot(x='DATE', y=['Average Price (FL)', 'Average Price (US)'])

# labels
plt.title('Average Listings')
plt.ylabel('Average House Price (Hundred Thousands)')
plt.xlabel('Date')
plt.xticks(rotation=75)
# save plot
plt.savefig('2004-2012_line_combined.png')
# Show the plot
plt.show()

In [22]:
# Select rows 130 to 141 (recession)
combined_subset = combined_df.iloc[130:141, :]
combined_subset

In [23]:
# rename columns again
combined_subset = combined_subset.rename(columns={'USSTHPI': 'Average Price (US)', 'FLSTHPI': 'Average Price (FL)'})

In [24]:
# Line graph national + florida
combined_subset.plot(x='DATE', y=['Average Price (FL)', 'Average Price (US)'])

# labels
plt.title('Average Listings (2007-2010)')
plt.ylabel('Average House Price (Hundred Thousands)')
plt.xlabel('Date')
plt.xticks(rotation=75)
# save plot
plt.savefig('2007-2010_line_combined.png')
# Show the plot
plt.show()

In [25]:
# Line graph national + florida
combined_subset.plot(x='DATE', y='Average Price (FL)', color = 'orange')

# labels
plt.title('Average Listings FL (2007-2010)')
plt.ylabel('Average House Price (Hundred Thousands)')
plt.xlabel('Date')
plt.xticks(rotation=75)
# save plot
plt.savefig('2007-2010_line_fl.png')
# Show the plot
plt.show()

In [26]:
# Line graph national + florida
combined_subset.plot(x='DATE', y='Average Price (US)')

# labels
plt.title('Average Listings US (2007-2010)')
plt.ylabel('Average House Price (Hundred Thousands)')
plt.xlabel('Date')
plt.xticks(rotation=75)
# save plot
plt.savefig('2007-2010_line_US.png')
# Show the plot
plt.show()